@font-face {
  font-family: '이쁜폰트';
  src: url(../font/NanumSquareR.ttf);
}

div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: '이쁜폰트';
}

.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-size: 16px;
}

.content {
  text-align: center;
}

.box {
  width: 200px;
  background: cadetblue;
  margin: 10px;
  padding: 40px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  color: white;
  box-shadow: 5px 5px black;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  height: 50px;
  background: aquamarine;
}

.left-menu {
  width: 20%;
  height: 400px;
  background: cornflowerblue;
  display: inline-block;
  /* float: left; */
}

.right {
  width: 80%;
  height: 400px;
  background: coral;
  /* float: left; */
  display: inline-block;
  vertical-align: top;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  /* clear: both; */
}

.blog-content {
  width: 80%;
  height: 200px;
  /* background: #eee; */
  float: left;
}

.blog-img {
  width: 20%;
  height: 200px;
  /* background: yellow; */
  float: left;
}

.blog-profile {
  width: 50px;
  float: left;
  display: block;
}

.blog-name {
  float: left;
}

.navbar li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}

.navbar a {
  font-size: 16px;
  text-decoration: none;
}

.navbar a:visited {
  color: black;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* filter: brightness(70%); */
  padding: 1px;
  text-align: center;
  position: relative;
  /* background-attachment : fixed; */
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 100px;
}

.main-content {
  color: white;
}

.main-button {
  padding: 15px;
  font-size: 20px;
  background: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
}

.explain-box {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  position: relative;
  top: -40px;
  box-sizing: border-box;
}

.form-background {
  background-color: black;
  padding: 30px;
}

.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.w-100 {
  width: 100%;
  padding: 10px;
}

.yellow-button {
  padding: 10px;
  display: block;
  margin-left: auto;
}

td,
th {
  /* border: 1px solid black; */
}

table {
  border-collapse: collapse;
}

.cart-background {
  width: 100%;
  background-color: #c2d3de;
  padding: 30px;
}

.cart-table {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background: white;
  border-radius: 10px;
}

.cart-table td,
.cart-table th {
  padding: 15px;
  border-bottom: 2px solid #c2d3de;
}

.cart-table th:nth-child(2) {
  width: 400px;
}

.btn {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: coral;
  color: white;
}

.btn:active {
  background-color: grey;
}

.main-btn {
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

.nav-container {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 10px;
}

.nav-item {
  margin-right: 10px;
}

@media screen and (max-width : 1200px) {
  .main-title {
    font-size: 30px;
  }
}

@media screen and (max-width : 768px) {
  .main-title {
    font-size: 20px;
  }
}

@media screen and (max-width : 576px) {
  .main-title {
    font-size: 10px;
  }
}