.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.grid-container div {
  border: 1px solid black;
}

.grid-nav {
  grid-column: 1 / 5;
}

.grid-sidebar {
  grid-row: 2 / 4;
}