@use '_reset';

$main-color : #2a4cb2;
$기본사이즈 : 16px;

.background {
  background-color: $main-color;
}

.box {
  color: #2a4cb2;
  font-size: $기본사이즈 + 2px;
}

.main-bg {
  h4 {
    font-size: 16px;
  }

  button {
    color: red;
  }
}

%btn {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.btn-green {
  @extend %btn;
  color: green;
}

.btn-red {
  @extend %btn;
  color: red;
}

@mixin 폰트스타일($구멍, $구멍2) {
  font-size: $구멍;
  letter-spacing: -$구멍2;
}

h2 {
  @include 폰트스타일(40px, 1px);
  color: reset.$메인칼라;
}

h3 {
  @include 폰트스타일(30px, 2px)
}